<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/home.css" />
		<script src="/static/js/home.js" defer></script>
	</head>
	<body>
		<header>
                	<h1>Dalle-Nano</h1>
			<p>AI generated art from a prompt</p>
		</header>
		<main>
                	<form method="post" id="myForm">
				<fieldset class="get-prompt">
                        		<label for="taskname">Prompt:</label>
					<textarea name="prompt" id="prompt" onkeydown="if(event.keyCode == 13) { submitForm(); return false; }"  wrap="soft" oninput="dynamic_grow(this)" ></textarea>
				</fieldset>
				<button type="button" value="Submit" id="submit-prompt" onclick="submitForm()">
					<span class="submit-text">Submit</span>
				</button>
                	</form>
                	<div id="responseArea">
				<img src="" id="image"/>
			</div> 
		</main>
	</body>
</html>
